<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".app.ContextProvider"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_app_launcher_q"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_launcher_q_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BaseProject"
        tools:targetApi="31">
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>
        <activity
            android:windowSoftInputMode="adjustResize"
            android:name=".activity.SignUpActivity"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>
        <activity
            android:windowSoftInputMode="adjustResize"
            android:name=".activity.SignInActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LanguageActivity"
            android:screenOrientation="portrait"
            android:exported="true">
        </activity>
        <service
            android:name=".services.StepServices"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.ResetStepForegroundService"
            android:enabled="true"
            android:exported="true" />
        <receiver android:name=".services.ResetReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DATE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>